.u-type--orange {
  color: var(--color-orange); }

:root {
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #B0B0B0;
  --color-grey-dark-4: #9D9D9D;
  --color-orange: #FF7F00;
  --color-light-blue: #269FF2;
  --line: 1px solid linear-gradient(to right, rgba(255, 127, 0, 1) rgba(255, 127, 0, 0)); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: url(/img/background.jpg);
  background-size: cover;
  background-position: top; }

.background__text {
  font-size: 6rem;
  font-family: 'Lora', serif;
  position: absolute;
  top: 24%;
  left: 8%;
  z-index: 10;
  color: var(--color-grey-light-3);
  opacity: .3; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 0 1rem;
  display: inline-block;
  border-radius: 10rem;
  cursor: pointer; }

figure {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex; }

figure button[name="play"] {
  width: 3rem;
  height: 3rem;
  background: var(--color-orange);
  border: none;
  border-radius: 100%;
  margin-top: 3rem;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

figure button[name="play"]::after {
  content: '';
  display: inline-block;
  position: relative;
  top: -1px;
  left: 1px;
  border-style: solid;
  border-width: 3px 0 3px 6px;
  border-color: transparent transparent transparent white; }

.footer__icon--black {
  margin-bottom: -.4rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: #000; }

.footer__icon--grey {
  margin-bottom: -.2rem;
  margin-right: .5rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-grey-dark-4); }

.icon__value {
  font-size: 0.8rem;
  margin-right: 1.2rem;
  color: var(--color-grey-dark-4); }

.header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-top: .7rem;
  margin-left: 4rem; }
  .header__nav {
    margin-left: 2rem; }
  .header__title {
    font-weight: 600; }

.nav__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-grey-dark-3); }

.search-bar__icon {
  fill: var(--color-grey-dark-3);
  margin-left: 4rem; }

.search-bar__text {
  margin-right: auto;
  color: var(--color-grey-dark-3);
  margin-left: 1rem; }

.container {
  margin: 11rem 8rem;
  background-color: #fff;
  height: 72vh;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: stretch; }
  .container--left {
    display: flex;
    flex: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem; }
  .container--right {
    flex: 1;
    background-image: url(/img/album.jpg);
    background-size: cover;
    background-position: top;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem; }

.sidebar {
  background-color: var(--color-grey-light-1);
  display: flex;
  flex-direction: column; }
  .sidebar__nav__icon {
    width: 1rem;
    height: 1rem;
    margin: .7rem 0;
    fill: var(--color-grey-dark-3); }
    .sidebar__nav__icon--twitter {
      width: 1rem;
      height: 1rem;
      margin: .7rem 0;
      fill: var(--color-light-blue); }

.border-line-1 {
  opacity: .5;
  border-left: 1px solid var(--color-grey-light-3);
  padding-top: 4rem;
  margin-left: .5rem; }

.border-line-2 {
  opacity: .5;
  border-left: 1px solid var(--color-grey-light-3);
  flex: 1;
  margin-left: .5rem;
  margin-bottom: auto; }

.song {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .song__info {
    flex: 2;
    align-self: center;
    flex-wrap: wrap;
    width: 58%;
    font-weight: 600;
    z-index: 20; }
  .song__title {
    font-size: 1.8rem;
    position: relative; }
    .song__title--line {
      display: inline-block;
      padding-top: 1px;
      background: linear-gradient(to right, #ff7f00, rgba(255, 0, 0, 0));
      width: 7rem;
      margin-bottom: .4rem; }
  .song__btn {
    font-size: 0.8rem;
    border: 1px solid var(--color-grey-dark-2);
    background-color: #fff;
    color: var(--color-grey-dark-2);
    font-weight: 600;
    align-self: center;
    line-height: 1.8rem;
    margin-right: 1.2rem; }
  .song__ratings {
    display: flex;
    margin-left: 4rem; }
  .song__order {
    font-weight: 600;
    font-size: 0.8rem;
    margin-right: auto; }

.artist__box {
  display: flex;
  margin-top: .2rem;
  justify-content: space-between; }
  .artist__box--text--top {
    color: var(--color-grey-dark-3);
    font-size: 0.8rem; }
  .artist__box--text--bottom {
    font-size: 0.8rem; }
