.header {
    display: flex;
    flex: 1;
    justify-content: space-between;

    &__title {

    }

    &__btn--nav {

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: var(--color-grey-dark-3);
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            // position: absolute;
            // left: 0;
            // transition: all .2s;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }

    }
}