.header {
    display: flex;
    flex: 1;
    justify-content: space-between;   
    margin-top: .7rem; 
    margin-left: 4rem;

    &__nav {
        margin-left: 2rem;
    }

    &__title {
        font-weight: 600;
    }
}

.nav__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-grey-dark-3);
}

.search-bar__icon {
    fill: var(--color-grey-dark-3);
    margin-left: 4rem;
}

.search-bar__text {
    margin-right: auto;
    color: var(--color-grey-dark-3);
    margin-left: 1rem;
}