.container {
    margin: 11rem 8rem;
    background-color: blue;
    height: 72vh;
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, .5);

    display: flex;
    flex: 1;
    justify-content: center;
    align-content: stretch;

    &--left {
        display: flex;
        flex: 1;

        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
    }

    &--right {
        flex: 1;
        background-image: url(/img/album.jpg);
        background-size: cover;
        background-position: top;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-right: 2rem;
    }
}