.song {
    background-color: #fff;

    flex: 0 0 85%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__info {
        flex: 2;
        align-self: center;
        flex-wrap: wrap;
        width: 58%;
        font-weight: 600;
    }

    &__title {
        font-size: $font-large;
        position: relative;

        &--line {
            display: inline-block;
            padding-top: 1px;
            background: linear-gradient(to right, rgba(255,127,0,1), rgba(255,0,0,0));
            width: 7rem;
            margin-bottom: .4rem;
        }
    }

    &__btn {
        font-size: $font-small;
        border: 1px solid var(--color-grey-dark-2);
        background-color: #fff;
        color: var(--color-grey-dark-2);
        font-weight: 600;
        align-self: center;
        line-height: 1.8rem;
        margin-right: 1.2rem;
    }

    &__ratings {
        display: flex;
    }

    &__order {
        font-weight: 600;
        font-size: $font-small;
        margin-right: auto;
    }
}

.artist__box {
    display: flex;
    margin-top: .2rem;
    justify-content: space-between;

    &--text {
        &--top {
            color: var(--color-grey-dark-3);
            font-size: $font-small;
        }   
    
        &--bottom {
            font-size: $font-small;
        }
    }   
}

.footer__icon {
    
    &--black {
        margin-bottom: -.4rem;
        width: 1.5rem;
        height: 1.5rem;
        fill: #000;   
    }

    &--grey {
        margin-bottom: -.2rem;
        margin-right: .5rem;
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--color-grey-dark-4);   
    }
}

.icon__value {
    font-size: $font-small;    
    margin-right: 1.2rem;
    color: var(--color-grey-dark-4);
}