.background__text {
    font-size: 6rem;
    font-family: 'Lora', serif;
    position: absolute;
    top: -10%;
    left: -17%;
    z-index: 10;
    color: var(--color-grey-light-3);
    opacity: .3;
}